.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

.bg-dark-css {
    background-color: #1c1c1e;
}

.btn-dark {
    background-color: #1c1c1e;
    color: #fff;
    border: 1px solid #fff;
}

.line {
    width: 30%;
    height: 3px;
    background-color: #c7c7c7;
    margin: 0 auto;
}

.line2 {
    width: 15%;
    height: 3px;
    background-color: #c7c7c7;
    margin: 0 auto;
}

.line3 {
    width: 40%;
    height: 3px;
    background-color: #c7c7c7;
    margin: 0px;
}

.mt {
    margin-top: 100px;
}

.mb {
    margin-bottom: 100px;
}

.hover-card {
    transition: 0.3s ease;
}

.hover-card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px rgb(1, 0, 24);
}

.img-container {
    width: 100%;
    height: 280px;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: auto;
    display: block;
    transform: translateY(-50px);
}

.img-container-uac {
    width: 100%;
    height: 280px;
    overflow: hidden;
}

.img-container-uac img {
    width: 100%;
    height: auto;
    display: block;
    transform: translateY(-140px);
}

.hover-img {
    width: 300px;
    transition: 0.3s ease;
}

.hover-img:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

.img-container-doom-tda {
    width: 90%;
    height: 340px;
    overflow: hidden;
}

.img-container-doom-tda img {
    width: 100%;
    height: auto;
    display: block;
}